# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
d6.html
d6_d10.html
d6_d6.html
d6_10.html
__Pycache__/
generating_data
